/** Custom Properties Starts **/
:root {
	/** Website General Colors **/
	--primary: #784d3c;
	--white: #fff;
	--black: #000;
	--gray: #303c3c;
	--light-gray: #e1e1e1;

	/** Website Fonts **/
	--main-font: "Open Sans", sans-serif;
	--heading-font: "PT Sans", sans-serif;

	/** Website Sizes **/
	--full: 100%;
}
/** Custom Properties Ends **/

/** Global CSS Styles **/
* {
	border: none;
	outline: unset;
}

html {
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	width: 0.7rem;
}

html::-webkit-scrollbar-track {
	background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
	background: var(--black);
	border-radius: 0.5rem;
}

body {
	font-family: var(--main-font);
	line-height: 2;
}

/** WebSite Typography **/
h1,
h2,
h3,
h4,
.button,
.widget__price,
.widget__students,
.course__price,
.course__students {
	font-family: var(--heading-font);
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
	line-height: 1.3;
}

h1 {
	font-size: 4.8rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3.2rem;
}

h4 {
	font-size: 2.8rem;
}

/** Website General Styles **/
img {
	display: block;
	max-width: var(--full);
}

[class$="__container"] {
	width: min(90%, 120rem);
	margin-inline: auto;
}

.button {
	margin-block-end: 2rem;
}

.button {
	display: block;
	cursor: pointer;
	color: var(--white);
	background-color: var(--black);
	font-size: 1.8rem;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border: 0.105rem solid;
	transition: background-color 0.3s linear, color 0.3s ease;
}

.button--primary {
	background-color: var(--primary);
}

.full-axis {
	width: var(--full);
	height: var(--full);
}

.object-img {
	object-fit: cover;
	object-position: center;
}

.flex-row-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.widget__price,
.widget__students,
.course__price,
.course__students {
	font-size: 2rem;
}

.entry,
.widget,
.course {
	border-block-end: 0.1rem solid var(--light-gray);
}

:is(.entry, .widget, .course):last-child {
	border-block-end: none;
}

:is(.post__paragraph, .form__button):last-of-type {
	margin-block-end: 0;
}

@media (hover: hover) {
	/** Website General Styles **/
	.button:hover {
		background-color: transparent;
		color: var(--black);
	}

	.button--primary:hover {
		color: var(--primary);
	}
}

@media (width >= 480px) {
	/** Website General Styles **/
	.button {
		display: inline-block;
	}
}

/** Utility First **/
.text-center {
	text-align: center;
}

.c-fff {
	color: var(--white);
}

.fw-400 {
	font-weight: 400;
}

.fw-700 {
	font-weight: 700;
}

.mbs-30 {
	margin-block-start: 3rem;
}

.mbe-30 {
	margin-block-end: 3rem;
}

.mbe-10 {
	margin-block-end: 1rem;
}

.mbe-15 {
	margin-block-end: 1.5rem;
}

.mbe-20 {
	margin-block-end: 2rem;
}

.mbe-0 {
	margin-block-end: 0;
}

.d-block {
	display: block;
}

.d-flex {
	display: flex;
}

/** Header Section **/
.webp .header--first {
	background: url(../img/banner1.webp) no-repeat;
}

.no-webp .header--first {
	background: url(../img/banner1.jpg) no-repeat;
}

.webp .header--second {
	background: url(../img/banner2.webp) no-repeat;
}

.no-webp .header--second {
	background: url(../img/banner2.jpg) no-repeat;
}

:is(.webp, .no-webp) .header {
	background-size: cover;
	background-position: center;
}

.header {
	position: relative;
	min-height: 60rem;
	padding-block-start: 5rem;
}

.bar__name {
	font-size: 4rem;
}

.navigation__link {
	padding-block: 0.5rem;
}

.header__content {
	margin-block-start: 2rem;
}

.coffeeine {
	position: absolute;
	width: 12rem;
	inset-block-end: 1.3rem;
	inset-inline-start: 1.3rem;
	transform: rotate(-20deg);
}

@media (width >= 480px) {
	/** Header Section **/
	.bar__name {
		font-size: 4.5rem;
	}

	.navigation__link {
		font-size: 1.8rem;
	}

	.header__content {
		margin-block-start: 5rem;
	}
}

@media (width >= 768px) {
	/** Header Section **/
	.header {
		padding-block-start: 3rem;
	}

	.bar,
	.navigation {
		display: flex;
		align-items: center;
	}

	.bar {
		justify-content: space-between;
	}

	.navigation {
		column-gap: 2rem;
	}

	.navigation__link {
		padding-block: 0;
	}

	.header__content {
		margin-block-start: 15rem;
	}

	.coffeeine {
		width: 15rem;
	}
}

@media (width >= 992px) {
	/** Header Section **/
	.coffeeine {
		width: 20rem;
	}
}

/** Post Section **/
.post {
	color: var(--gray);
}

.post__title {
	font-size: clamp(3rem, 2.41rem + 2.107dvw, 4.5rem);
	text-transform: uppercase;
}

.post__title--secondary {
	font-size: clamp(2.5rem, 2.225rem + 0.983dvw, 3.2rem);
	text-transform: capitalize;
}

.post__paragraph {
	margin-block-end: 1.5rem;
}

.post__span {
	color: var(--primary);
}

@media (width >= 768px) {
	/** Post Section **/
	.post__container--width {
		width: min(80%, 120rem);
	}
}

@media (width >= 992px) {
	/** Post Section **/
	.post__container--width {
		width: min(60%, 120rem);
	}
}

@media (width >= 1140px) {
	/** Post Section **/
	.post__container--width {
		width: min(50%, 120rem);
	}
}

/** Gallery Section **/
.gallery {
	flex-direction: column-reverse;
}

.gallery__picture {
	overflow: hidden;
}

.gallery__image {
	transition: transform 0.5s ease;
}

@media (hover: hover) {
	/** Gallery Section **/
	.gallery__image:hover {
		transform: scale(1.05);
	}
}

@media (width >= 576px) {
	/** Gallery Section **/
	.gallery {
		display: grid;
		grid-template: repeat(2, 40rem) / repeat(2, 1fr);
	}

	.gallery__picture:nth-child(2) {
		grid-area: 1 / 1/ 2 / 3;
	}
}

@media (width >= 768px) {
	/** Gallery Section **/
	.gallery {
		grid-template: auto / repeat(3, 1fr);
	}

	.gallery__picture:nth-child(2) {
		grid-area: unset;
	}
}

/** Main Section **/
.entry__title,
.course__students {
	margin-block: 1.5rem;
}

.widgets {
	list-style: none;
}

@media (width >= 768px) {
	/** Main Section **/
	.main {
		display: grid;
		grid-template-columns: 2fr 1fr;
		column-gap: 4rem;
	}
}

/** About Section **/
@media (width >= 992px) {
	.about {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
	}

	.about__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.about__paragraph.mbe-15 {
		margin-block-end: 1rem;
	}
}

/** Courses Section **/
.course {
	padding-block: 2rem;
}

@media (width >= 768px) {
	/** Courses Section **/
	.course {
		display: grid;
		grid-template-columns: 1fr 2fr;
		column-gap: 2rem;
	}
}

/** Contact Section **/
.contact__bg {
	height: 38rem;
}

.webp .contact__bg {
	background: url(../img/contact.webp) no-repeat;
}

.no-webp .contact__bg {
	background: url(../img/contact.jpg) no-repeat;
}

:is(.webp, .no-webp) .contact__bg {
	background-size: cover;
	background-position: center;
}

.form {
	width: 95%;
	padding: 2rem;
	margin: -5rem auto 0;
	background-color: var(--white);
}

.field {
	flex-direction: column;
}

.field__label {
	margin-block-end: 0.5rem;
}

.field__input {
	padding: 0.15rem;
	border: 0.1rem solid var(--light-gray);
}

.field__input--textarea {
	height: 20rem;
}

@media (width >= 480px) {
	/** Contact Section **/
	.field {
		flex-direction: row;
	}

	.field__label {
		flex: 0 0 9rem;
		margin-block-end: 0;
	}

	.field__input {
		flex: 1;
	}
}

@media (width >= 768px) {
	/** Contact Section **/
	.form {
		padding: 5rem;
	}
}

/** Footer Section **/
.footer {
	padding-block: 3rem;
	background-color: var(--black);
}
